@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oranienbaum&display=swap');
*{
  margin: 0;
  padding: 0;
}

/* Shared color */

.primary_color{
  color: #FD6E0A;
}
.dark_2{
  color:#474747
}.primary_btn, .contact_btn{
  border: none;
  background-color: #FD6E0A;
  padding: 18px 36px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.container{
  max-width: 1140px;
  align-items: center;
  justify-content: center;
}
/* Header */

header{
  background-image: url("./images/developer.png"), url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left , bottom right;
  margin: 20px 0px 0px 30px ;
}
/* Nav items */
nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.nav_title{
font-size: 45px;
font-weight: 800;

}

nav ul{
 display: flex;
 list-style: none;
 align-items: center;

}
nav ul li {
   margin-right: 50px;
}
a{
  text-decoration: none;
}

/* Banner items */
.banner_sec{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 25px 0 200px;

}
.banner_desc, .banner_img{
  width: 585px;
}

.banner_desc h3{
font-size: 45px;
}
.banner_desc h1{
font-size: 85px;
padding: 10px 0px 20px;
}
.banner_desc p{
  font-size: 18px;
  color: #757575;
  padding: 10px 0;
  line-height: 25px;
}
.btn_grp{
  padding: 20px 0px;
 
}
.contact_btn{
background-color: white;
color: #FD6E0A;
border: 1px solid #FD6E0A;
margin-left: 20px;
}